@import './index';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-nanum-gothic;
  word-spacing: 1px;
  word-break: keep-all;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: $color-background-gray;
  color: $color-font-black;
  font-weight: 400;
  font-size: $font-size-extra-small;
  margin: 0;

  @media (min-width: 744px) {
    font-size: $font-size-small;
  }
}

* {
  box-sizing: border-box;
}
