$color-link: #115aa3;
$color-base: #b73333;
$color-black: #000;
$color-navy: #122d3c;
$color-white: #fff;
$color-border-gray: #e8e8e8;
$color-shadow: #333;
$color-background-gray: #f9f9f9;

$color-font-black: #484848;
$color-font-gray: #999;
$color-font-light-gray: #c9c9c9;

$color-github: #24292e;
$color-facebook: #3b5999;
