@import './colors';
@import './props';

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: $color-link;
  }
}

button {
  outline: none !important;
}
input,
textarea,
select {
  padding: 11px;
  font-size: $font-size-extra-small;
  transition: border ease 0.3s;
  border: 1px solid $color-font-gray;
  border-radius: $border-radius;
  font-family: font-family-nanum-gothic;
  outline: none !important;

  &:focus {
    border-color: $color-link;
  }

  @media (min-width: 744px) {
    font-size: $font-size-small;
  }
}
textarea {
  resize: vertical;
}
