// box-shadow
$box-shadow: 0 1px 4px #e0e4f0;
$box-shadow-hover: 0 1px 10px #c7ccdb;

// border
$border-radius: 3px;

// line-height
$line-height: 1.75;

.invisible {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
