@import './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.max-width {
  max-width: 1040px;
  margin: 0 auto;
}

.lr-padding {
  padding-left: 16px;
  padding-right: 16px;
}
.tb-padding {
  padding-top: 20px;
  padding-bottom: 60px;

  @media (min-width: 1128px) {
    padding-top: 30px;
  }
}

.primary {
  color: $--color-primary;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}

.mobile-only {
  @media (min-width: 1128px) {
    display: none;
  }
}

.desktop-only {
  display: none;

  @media (min-width: 1128px) {
    display: unset;
  }
}

.underline {
  text-decoration: underline;
}
.text-align-left {
  text-align: left !important;
}
.text-align-right {
  text-align: right !important;
}
.text-align-center {
  text-align: center !important;
}
